@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}







/* Customizations */
code {
  font-family: var(--font-mono);
  background-color: gray;
}

/* Glassmorphism Effect */
.glass {
  background: linear-gradient(
    180deg,
    rgba(var(--background-start-rgb), 0.9) 0%,
    rgba(var(--background-end-rgb), 0.9) 100%
  );
  backdrop-filter: blur(28px);
  border: 1px solid rgba(var(--foreground-rgb), 0.125);
  box-shadow: 0 8px 32px 0 rgba(var(--foreground-rgb), 0.125);
  z-index: 999;
}

/* Button */
.neonButton{
	color: #2daa52;
	display: inline-block;
	letter-spacing: 2px;
  width: 100%;
  margin: 2px 0;
  padding: 2px 18px;
	overflow: hidden;
	text-decoration: none;
  font-family: 'Poppins', sans-serif;
	transition: 0.3s;
	-webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.199));
}

.neonButton:nth-child(1){
	filter: hue-rotate(360deg);
}

.neonButton:nth-child(3){
	filter: hue-rotate(360deg);
}

.neonButton.active{
	box-shadow: 0 0 5px #2daa52, 0 0 25px #2daa52, 0 0 50px #2daa52, 0 0 200px #2daa52;
}

.neonButton span{
	display: block;
	position: absolute;
}

.neonButton:hover span:nth-child(1){
	animation: animate1 1s linear infinite;
	background: linear-gradient(90deg, transparent, #03E9F4);
	height: 1px;
	left: -100%;
	top: 0;
	width: 100%;
}

@keyframes animate1{
	0%{
		left: -100%;
	}
	50%, 100%{
		left: 100%;	
	}
}

.neonButton:hover span:nth-child(2){
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
	background: linear-gradient(180deg, transparent, #03f463);
	height: 100%;
	top: -100%;
	right: 0;
	width: 2px;
}

@keyframes animate2{
	0%{
		top: -100%;
	}
	50%, 100%{
		top: 100%;	
	}
}

.neonButton:hover span:nth-child(3){
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
	background: linear-gradient(270deg, transparent, #03f463);
	bottom: 0;
	height: 2px;
	right: -100%;
	width: 100%;
}


@keyframes animate3{
	0%{
		right: -100%;
	}
	50%, 100%{
		right: 100%;	
	}
}

.neonButton:hover span:nth-child(4){
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
	background: linear-gradient(360deg, transparent, #03f463);
	bottom: -100%;
	height: 100%;
	left: 0;
	width: 2px;
}

@keyframes animate4{
	0%{
		bottom: -100%;
	}
	50%, 100%{
		bottom: 100%;	
	}
}