@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

html {
  color-scheme: dark;
}

/* Customizations */
code {
  font-family: var(--font-mono);
  background-color: gray;
}
/* a customized scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  /* A gradient that feature site primary and secondary colors */
  background: linear-gradient(
    0deg, #517dbf, #2daa52
  );
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-thumb:active {
  background: #555;
}
::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}

/* Glow */
.glow {
  filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 1));
}

/* Glassmorphism Effect */
.glass {
	background: linear-gradient(
		180deg,
		rgba(var(--background-start-rgb), 0.9) 0%,
		rgba(var(--background-end-rgb), 0.9) 100%
	  );
	  backdrop-filter: blur(28px);
	  border: 1px solid rgba(var(--foreground-rgb), 0.125);
	  box-shadow: 0 8px 32px 0 rgba(var(--foreground-rgb), 0.125);
	  z-index: 999;
}
.glassLight {
	  backdrop-filter: blur(28px);
	  border: 1px solid rgba(var(--foreground-rgb), 0.125);
	  box-shadow: 0 8px 32px 0 rgba(var(--foreground-rgb), 0.125);
}

/* Button */
.neonButton{
	color: white;
	display: inline-block;
  width: 100%;
  margin: 2px 0;
  padding: 2px 8px;
	overflow: hidden;
	text-decoration: none;
  font-family: 'sans', sans-serif;
	transition: 0.3s;
	-webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.06));
}

.neonButton:nth-child(1){
	filter: hue-rotate(360deg);
}

.neonButton:nth-child(3){
	filter: hue-rotate(360deg);
}

.neonButton.active{
	border-left: 3px solid #3fff8c;
	color: #3fff8c;
}
.neonButton:hover{
	color: #3fff8c;
}

.neonButton span{
	display: block;
	position: absolute;
}

.neonButton:hover span:nth-child(1){
	animation: animate1 1s linear infinite;
	background: linear-gradient(90deg, transparent, #03E9F4);
	height: 1px;
	left: -100%;
	top: 0;
	width: 100%;
}

@keyframes animate1{
	0%{
		left: -100%;
	}
	50%, 100%{
		left: 100%;	
	}
}

.neonButton:hover span:nth-child(2){
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
	background: linear-gradient(180deg, transparent, #03f463);
	height: 100%;
	top: -100%;
	right: 0;
	width: 2px;
}

@keyframes animate2{
	0%{
		top: -100%;
	}
	50%, 100%{
		top: 100%;	
	}
}

.neonButton:hover span:nth-child(3){
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
	background: linear-gradient(270deg, transparent, #03f463);
	bottom: 0;
	height: 2px;
	right: -100%;
	width: 100%;
}


@keyframes animate3{
	0%{
		right: -100%;
	}
	50%, 100%{
		right: 100%;	
	}
}

.neonButton:hover span:nth-child(4){
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
	background: linear-gradient(360deg, transparent, #03f463);
	bottom: -100%;
	height: 100%;
	left: 0;
	width: 2px;
}

@keyframes animate4{
	0%{
		bottom: -100%;
	}
	50%, 100%{
		bottom: 100%;	
	}
}